*{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: #556b2f;
    color:linen;
    text-align: center;
}

h1,h2,h3{
    font-family: 'Special Elite', cursive;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
 
}

button{
 padding: 1em;
 border-radius: .5em;
 background-color:linen;
 margin-top: 10em;

}